:root {
    --white: #FFFFFF;
    --light-blue: #DFE3E5;
    --dark-red: #B72E2E;
    --dark-grey: #4F4C4C;
    --light-grey: #F7F4F4;
    --normal-grey: #D9D9D9;

    --link-font: #0084FF;
    --grey-font: #666666;
    --mobile-header: #103D4A;
    --bg-footer: #333333;
    --call-mobile: #00161C;

    --card-start: #56CCF2;
    --card-ultra: #B04CD9;
    --card-mega: #E33B3B;

    --montserrat: 'Montserrat', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    color: var(--white);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--mobile-header);
    position: absolute;
}

.header__logo {
    margin-bottom: 1rem;
}

.header__nav {
    text-align: center;
}

.header__link {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 0.7rem;
    margin-bottom: 1.25rem;
    margin-left: 0.7rem;
}

.call {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-align: center;
    background-color: var(--call-mobile);
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.call__title {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.call__text {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
}

.call__btn {
    width: 100%;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.btn {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.highlights {
    background-color: var(--light-blue);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.highlights__title {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.highlights__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.highlights__panel-img {
    width: 100vw;
    max-width: 600px;
    box-sizing: 0 2px 10px 5px #00000020;
    margin-bottom: 0.5rem;
}

.highlights__panel-text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: normal;
}

.highlights__btn {
    color: var(--dark-red);
    border-color: var(--dark-red);
    margin: 0 auto;
}

.differential {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.differential__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.differential__list-item {
    max-width: 350px;
    box-sizing: border-box;
    padding: 2rem 0 2rem 5rem;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;
}

.list__item-time {
    background-image: url(../img/icone-relogio.png);
}

.list__item-focus {
    background-image: url(../img/icone-dinheiro.png);
}

.list__item-specialist {
    background-image: url(../img/icone-quimica.png);
}

.list__item-title {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.list__item-text {
    line-height: normal;
}

.about {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about__title {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.about__text {
    line-height: normal;
    margin-bottom: 1rem;
}

.about__text-emphasis {
    color: var(--dark-grey);
    font-weight: 700;
}

.about__devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.about__img {
    display: none;
}

.plans {
    background-color: var(--light-grey);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.plans__title {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.plans__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    max-width: 300px;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
}

.card__title {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.75rem 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--light-blue);
}

.card__content {
    padding: 0 15%;
}

.card__price {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.card__text {
    color: var(--grey-font);
    line-height: 28px;
}

.card__btn {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    align-self: center;
    padding: 0.75rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-start {
    border-color: var(--card-start);
}

.btn-ultra {
    border-color: var(--card-ultra);
}

.btn-mega {
    border-color: var(--card-mega);
}

.card-start {
    color: var(--card-start);
}

.card-ultra {
    color: var(--card-ultra);
}

.card-mega {
    color: var(--card-mega);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact__title {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.contact__btn {
    color: var(--dark-grey);
    border-color: var(--dark-grey);
    margin-top: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grey-font);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem
}

.info__title {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.info__description {
    margin-bottom: 2rem;
}

.info__address {
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 2rem;
}

.info__contact {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 2rem;
}

.info__contact-phone {
    line-height: normal;
}

.info__contact-email {
    color: var(--link-font);
    text-decoration: underline;
    display: block;
}

.info__video {
    width: 100vw;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-footer);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer__social {
    display: flex;
}

.footer__media {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
}

.footer__nav {
    color: var(--white);
    text-align: center;
    line-height: 3;
}

.footer__link {
    display: inline-block;
    margin: 0 0.5rem 0.7rem;
}

@media screen and (min-width: 768px) {
    .call__text {
        max-width: 600px;
    }

    .card {
        max-width: 400px;
    }

    .info__contact-email {
        display: inline-block;
    }

    .info__video {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px) / 2);
        padding-right: calc((100% - 940px) / 2);
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }

    .call {
        background-image: url(../img/bg-intro.jpg);
        background-size: cover;
        padding-top: 8.25rem;
    }

    .call__title {
        font-size: 3.25rem;
        margin-bottom: 2rem;
    }

    .differential {
        background-color: var(--light-grey);
    }

    .differential__list {
        justify-content: space-around;
    }

    .about {
        display: flex;
    }

    .about__content {
        margin-right: 3rem;
    }

    .about__title {
        text-align: left;
    }

    .text__gap {
        border-bottom: 1px solid var(--normal-grey);
        padding-bottom: 1.5rem;
    }

    .about__img {
        display: block;
    }

    .plans__cards {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card {
        max-width: 300px;
    }

    .info__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .info__video {
        align-self: flex-end;
        width: 375px;
    }

    .info__contact-email {
        display: block;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__nav {
        text-align: left;
        min-width: 600px;
    }
}